<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="registros">
    <head>
        <title>Software de Parqueadero Easy Parking</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    </head>

    <body >
        <header>
            <nav class="navbar navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <h1>EASY PARKING</h1>
                    </a>
                </div>
            </nav>
        </header>
        <main ng-controller="filasRegistros">  <!-- filasRegistros del js -->
            <article >
                <section class="mt-5 p-3  mx-auto container-md border bg-white">
                    <div style="text-align: center" class="container">
                        <form>
                            <div class="row">
                                <div style="border: 2px solid black; border-right: 0; " class="col-md p-3">
                                    <h4 class="mb-4">Registrar Vehículo</h4>
                                    <input type="text" class="mb-3" id="inputPlacaR"  placeholder="Placa" style="width: 25%;height: 50px !important; margin: auto; font-size : 20px;font-weight: bold; text-align: center; border: 2px solid black;"/>
                                    <input type="text" class="mb-3" id="inputPlazaR"  placeholder="Plaza" style="width: 25%;height: 50px !important; margin: auto; font-size : 20px;font-weight: bold; text-align: center; border: 2px solid black;" />
                                    <br/>
                                    <button type="button" class="col-12 btn btn-success mt-4" ><strong>REGISTRAR</strong></button>

                                </div>
                                <div style="border: 2px solid black" class="col-md p-3">
                                    <h4 class="mb-4">Retirar Vehículo</h4>
                                    <input type="text" class="col-sm-10 mb-3" id="exampleFormControlInput1"  placeholder="Placa" style="width: 25%;height: 50px !important; margin: auto; font-size : 20px;font-weight: bold; text-align: center; border: 2px solid black;"/>
                                    <br/>
                                    <button type="button" class="col-12 btn btn-warning mt-4" ><strong>RETIRAR</strong></button>

                                </div>
                            </div>
                        </form>   
                    </div>
                </section>
            </article>
            <article > <!-- filasRegistros del js --> 
                <section style="margin-bottom: 90px !important; border: 2px solid black !important;" class="m-4 p-3 mx-auto container-md border bg-white">
                    <h4 class="mb-4">Consultar Registros</h4>
                    <div style="text-align: center; " class="mb-3 offset-3 col-sm-6" >
                        <input style="width: 25%;height: 50px !important; margin: auto; font-size : 20px;font-weight: bold; text-align: center; border: 2px solid black;" type="text" class="form-control mb-4 " id=""  ng-model="placaR" placeholder="Placa"/>  <!-- scope.placaR del js -->            
                        <button type="button" class="btn btn-danger mb-4 col-sm-4" ng-click="consultar()"><strong>CONSULTAR</strong></button>

                        <table class="table table-bordered ">
                            <thead>
                                <tr>
                                    
                                    <th scope="col">Plaza</th>
                                    <th scope="col">Fecha Ingreso</th>
                                    <th scope="col">Hora Ingreso</th>
                                    <th scope="col">Estado</th>
                                    <!--<th scope="col">Acciones</th>-->
                                </tr>
                            </thead>
                            <tbody >
                                <tr ng-repeat="fila in filas" style="font-size:15px; font-weight: bold;">
                                    
                                    <td>{{fila.id_plaza}}</td>
                                    <td>{{fila.fecha_ingreso}}</td>
                                    <td>{{fila.hora_ingreso}}</td>
                                    <td>{{fila.estado}}</td>
                                    <!--<td>
                                        <button type="button" class="btn btn-success">Editar</button>
                                        <button type="button" class="btn btn-danger">Remover</button>
                                    </td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                </section>                
            </article>
        </main>
        <footer></footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="js/angular-bootstrap.js" type="text/javascript"></script>
        <script src="js/RegistroPlacas.js"></script>
    </body>
</html>
