<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Placa</th>
                    <th scope="col">Plaza</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Estado</th>

                </tr>
            </thead>
            <tbody>
                <tr th:each =" registros : $(registros)">                    
                    <th th:text =" $(registro.placa) "> </th>
                    <th th:text =" $(registro.id_plaza) "> </th>
                    <th th:text =" $(registro.fecha_ingreso) "> </th>
                    <th th:text =" $(registro.hora_ingreso) "> </th>
                    <th th:text =" $(registro.estado) "> </th>
                   
                </tr>
            </tbody>
        </table>   
    </body>
</html>
